* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

input {
  position: fixed;
  right: 0;
  bottom: 40px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
